#Sass
.sass-cache

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#Resharper
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.DotSettings.user

#Misc
*.suo
*.cache
#*.Publish.xml
~$*

#Umbraco
*/*/media
*/*/App_Data/ClientDependency
*/*/App_Data/ExamineIndexes
*/*/App_Data/preview
*/*/App_Data/TEMP
*/*/App_Data/Umbraco.sdf
*/*/App_Data/umbraco.config
*/*/packages

#NCrunch
*.ncrunchsolution.user
nCrunchTemp_*