@using umbraco.MacroEngines
@inherits umbraco.MacroEngines.DynamicNodeContext
@*
This script displays the contents of a single blog post for AJAX purposes
*@

@{
    var post = Model;
    HttpContext.Current.Response.AddHeader("X-AJAX-RESPONSE-TITLE", post.heading);
}
<p class="lead">@post.lead</p>
<p class="body">@post.body</p>
<div class="authorinfo">
    <img alt='' src='http://1.gravatar.com/avatar/b93b3858438776aaf21ebcfee09e9f78?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' />
    <p>This article is written by @post.WriterName and was published @post.CreateDate.ToString("dd.MM.yy")</p>
    <p></p>
    <br class="cf" />
</div>