<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>


<asp:Content ContentPlaceHolderId="ContentPlaceHolderDefault" runat="server">

</asp:Content>